body{
	background-image: url(../public/carrete.jpg);
	background-repeat: initial;
}
a{
	color: red;
}
div>img{
	height: 100%;
	width: 100%;
	background-color: #A9F5F2;

}
header{
	background-color: #8C9EFF;
	padding-top: 60px;
	padding-bottom: 20px;
	color: #263238;
	text-align: center;
}
footer{
	background-color: #8C9EFF;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #3E2723;
}
footer>div>div>div>ul>li>a{
	color: #2E64FE;
}
footer>div>div>div>h3{
	color: #4E342E;
}
